In [4]:
import pandas as pd
data = pd.read_excel("D:\Data Analyst\Project\hotel_booking_2.xlsx")
#print(data)
print(data.head(10))
print(data.tail(10))

          hotel  is_canceled  arrival_date_year arrival_date_month  adults  \
0  Resort Hotel            0               2015               July       2
1  Resort Hotel            0               2015               July       2
2  Resort Hotel            0               2015               July       1
3  Resort Hotel            0               2015               July       1
4  Resort Hotel            0               2015               July       2
5  Resort Hotel            0               2015               July       2
6  Resort Hotel            0               2015               July       2
7  Resort Hotel            0               2015               July       2
8  Resort Hotel            1               2015               July       2
9  Resort Hotel            1               2015               July       2

   children  babies country reserved_room_type assigned_room_type  \
0       0.0       0     PRT                  C                  C
1       0.0       0     PRT                  C                  C
2       0.0       0     GBR                  A                  C
3       0.0       0     GBR                  A                  A
4       0.0       0     GBR                  A                  A
5       0.0       0     GBR                  A                  A
6       0.0       0     PRT                  C                  C
7       0.0       0     PRT                  C                  C
8       0.0       0     PRT                  A                  A
9       0.0       0     PRT                  D                  D

  customer_type reservation_status Room_status Guest_type
0     Transient          Check-Out     Desired    Couples
1     Transient          Check-Out     Desired    Couples
2     Transient          Check-Out  Un-Desired     Single
3     Transient          Check-Out     Desired     Single
4     Transient          Check-Out     Desired    Couples
5     Transient          Check-Out     Desired    Couples
6     Transient          Check-Out     Desired    Couples
7     Transient          Check-Out     Desired    Couples
8     Transient           Canceled     Desired    Couples
9     Transient           Canceled     Desired    Couples
             hotel  is_canceled  arrival_date_year arrival_date_month  adults  \
119380  City Hotel            0               2017             August       2
119381  City Hotel            0               2017             August       2
119382  City Hotel            0               2017             August       3
119383  City Hotel            0               2017             August       2
119384  City Hotel            0               2017             August       2
119385  City Hotel            0               2017             August       2
119386  City Hotel            0               2017             August       3
119387  City Hotel            0               2017             August       2
119388  City Hotel            0               2017             August       2
119389  City Hotel            0               2017             August       2

        children  babies country reserved_room_type assigned_room_type  \
119380       0.0       0     DEU                  A                  A
119381       0.0       0     DEU                  A                  A
119382       0.0       0     JPN                  G                  G
119383       0.0       0     DEU                  A                  A
119384       0.0       0     BEL                  A                  A
119385       0.0       0     BEL                  A                  A
119386       0.0       0     FRA                  E                  E
119387       0.0       0     DEU                  D                  D
119388       0.0       0     GBR                  A                  A
119389       0.0       0     DEU                  A                  A

       customer_type reservation_status Room_status Guest_type
119380     Transient          Check-Out     Desired    Couples
119381     Transient          Check-Out     Desired    Couples
119382     Transient          Check-Out     Desired     Family
119383     Transient          Check-Out     Desired    Couples
119384     Transient          Check-Out     Desired    Couples
119385     Transient          Check-Out     Desired    Couples
119386     Transient          Check-Out     Desired     Family
119387     Transient          Check-Out     Desired    Couples
119388     Transient          Check-Out     Desired    Couples
119389     Transient          Check-Out     Desired    Couples

In [6]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   hotel               119390 non-null  object
 1   is_canceled         119390 non-null  int64
 2   arrival_date_year   119390 non-null  int64
 3   arrival_date_month  119390 non-null  object
 4   adults              119390 non-null  int64
 5   children            119386 non-null  float64
 6   babies              119390 non-null  int64
 7   country             118902 non-null  object
 8   reserved_room_type  119390 non-null  object
 9   assigned_room_type  119390 non-null  object
 10  customer_type       119390 non-null  object
 11  reservation_status  119390 non-null  object
 12  Room_status         119390 non-null  object
 13  Guest_type          119390 non-null  object
dtypes: float64(1), int64(4), object(9)
memory usage: 12.8+ MB
None

In [8]:
data.describe()

,is_canceled,arrival_date_year,adults,children,babies
count,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000
mean,0.370416,2016.156554,1.856403,0.103890,0.007949
std,0.482918,0.707476,0.579261,0.398561,0.097436
min,0.000000,2015.000000,0.000000,0.000000,0.000000
25%,0.000000,2016.000000,2.000000,0.000000,0.000000
50%,0.000000,2016.000000,2.000000,0.000000,0.000000
75%,1.000000,2017.000000,2.000000,0.000000,0.000000
max,1.000000,2017.000000,55.000000,10.000000,10.000000

In [12]:
print(data.isnull().sum())

hotel                   0
is_canceled             0
arrival_date_year       0
arrival_date_month      0
adults                  0
children                4
babies                  0
country               488
reserved_room_type      0
assigned_room_type      0
customer_type           0
reservation_status      0
Room_status             0
Guest_type              0
dtype: int64